In [1]:
# 1 to print the hello word using the shell

print("hello world")

hello world

In [2]:
# 2 to print variable and value as 50

a=50
print("a=",a)

a= 50

In [5]:
# 3vto inetialize multiple values into the multiple variables

a,b,c=10,20,30
print("a,b,c=",a,b,c)

a,b,c= 10 20 30

In [6]:
# 4to print the type of the given data

a="str"
print(type(a))

<class 'str'>

In [3]:
# 5 toto print the address of the variable

a=10
print(id(a))

b=10
print(id(b))

print((a) is (b))

140721051588544
140721051588544
True

In [4]:
# 6 to print your details and extract your name

d={"no":548,"name":"venky","phone":7386624004,"email":"venky@gmail.com"}

print(d["name"])

venky

In [6]:
# 7 to print your details and extract your name

name="venky"
no=548
phone=7386624004

print(name)
print(phone)

venky
7386624004

In [8]:
# 8 was to swap the variable with the temp

a=10
b=20
temp=a
a=b
b=temp
print("a=",a,"b=",b)

a= 20 b= 10

In [9]:
# 9 was to swap the variable with out the temp variable
a=100
b=200
a,b=b,a
print("a=",a,"b=",b)

a= 200 b= 100

In [11]:
# 10 was to inetialize the a value to the variable and re-inetialize a new value to the exesting variable

l=[10,20,30,40] # inetialize 
print(l)
l[1]=50 #re inetialize
print(l)

d={"a":10,"b":20,"c":30}

d["c"]=50
print(d)

[10, 20, 30, 40]
[10, 50, 30, 40]
{'a': 10, 'b': 20, 'c': 50}

In [16]:
# 11 was to convert the single to the multivalue datatype
#ip=10 o/p=["1""0"]

a=10
b=str(a)
print("b=",b)
print(list(b))

b= 10
['1', '0']

In [18]:
#12 to concat the two multivalue data types (str,list,tuple)

a="hello"
a+=" world"
print(a)

l=[10,20,30]
l+=[40,50]
print(l)

t=("a","b","c")
t+=("c","d")
print(t)

hello world
[10, 20, 30, 40, 50]
('a', 'b', 'c', 'c', 'd')

In [19]:
# 13 to check the length of collection
s={10,20,30,40,50}

print(len(s))

5

In [20]:
#14 to check find out the middle value of the given collection
l=[10,20,30,40]
print(l[len(l)//2])

30

In [21]:
#15 to concat the new string into starting of given string
a="how r u"
b="haii"
print(b+a)

haiihow r u