In [3]:
n=4
for i in range(n):
    print('*',end="  ")

*  *  *  *

In [5]:
n=5
for i in range(n):
    print('*  '*n)

*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *

In [7]:
n=4
for i in range(n):
    print((str(n)+'  ')*n)

4  4  4  4
4  4  4  4
4  4  4  4
4  4  4  4

In [9]:
n=5
for i in range(1,n+1):
    print((str(i)+ '  ')*n)

1  1  1  1  1
2  2  2  2  2
3  3  3  3  3
4  4  4  4  4
5  5  5  5  5

In [10]:
n=3
for i in range(n):
    print('A  '*n)

A  A  A
A  A  A
A  A  A

In [27]:
n=4
for i in range(0,n):
    print((chr(65+i)+'  ')*(i+1))

A
B  B
C  C  C
D  D  D  D

In [30]:
n=5
for i in range(n):
    print('*  '*(i+1))

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *

In [31]:
n=5
for i in range(n):
    print('*  '*(n-i))

*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [40]:
n=4
for i in range(n):
    for j in range(n-i):
        print(j+1,end="  ")
    print("\n")

1  2  3  4

1  2  3

1  2

1

In [42]:
n=5
for i in range(n):
    for j in range(i+1):
        print(j+1,end="  ")
    print("\n")

1

1  2

1  2  3

1  2  3  4

1  2  3  4  5

In [8]:
n=5
for i in range(1,n+1):
    print("  "*(n-i),(str(i)+"   ")*i,)

         1
       2   2
     3   3   3
   4   4   4   4
 5   5   5   5   5

In [17]:
n=5
for i in range(1,n+1):
    print("  "*(i+1-1),(str(i)+"   ")*(n+1-i))

   1   1   1   1   1
     2   2   2   2
       3   3   3
         4   4
           5

In [19]:
n=5
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(chr(65+n-j),end=" ")
    print()

    E
   E D
  E D C
 E D C B
E D C B A

In [24]:
n=5
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(chr(64+j),end=" ")
    print()

    A
   A B
  A B C
 A B C D
A B C D E

In [40]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(64+j),end=" ")
    print()
for i in range(1,n):
    for j in range(1,n+1-i):
        print(chr(64+j),end=" ")
    print()

A
A B
A B C
A B C D
A B C D E
A B C D
A B C
A B
A

In [39]:
n=4
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(j,end=" ")
    print()

1 2 3 4
1 2 3
1 2
1

In [48]:
n=5
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(j,end=" ")
    print()
for i in range(1,n):
    print(" "*(i),end="")
    for j in range(1,n+1-i):
        print(j,end=" ")
    print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1